version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` commandk
      - run: echo $CIRCLE_PR_NUMBER
      - run: echo $CIRCLE_PR_REPONAME
      - run: echo $CIRCLE_PULL_REQUEST

workflows:
  forkPR:
    jobs:
      - hello-job
